:root {
  --black: #1A1918;
  --font-body:"Space Grotesk", sans-serif;
  --font-heading: "Dela Gothic One", sans-serif;
  --highlight-pink: #F1A0FF;
  --highlight-purple: #717EFF;
  --highlight-yellow: #F9DB69;
  --white: #f0f0f0;
}

* {
  box-sizing: border-box;
  font-family: var(--body-font);
  font-weight: 400;
  margin: 0;
  padding: 0;
}

body {
  color: var(--black);
  min-height: 100vh;
  width: 100%;
  background-color: var(--white);
}

main#main-container {
  background-color: var(--black);
  border-radius: 50px;
  color:  var(--white);
  min-height: 100vh;
  padding: 5rem;
  position: relative;
}

section h2.section-title {
  align-self: start;
  font-family: var(--heading-font);
  font-size: 4rem;
  margin-bottom: 2rem;
}

/* HEADER */

header {
  background-color: red;
  display: flex;
  flex-direction: row;
  height: 5vh;
  justify-content: space-between;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  position: sticky;
  top: 0;
  z-index: 2;
}

header div.logo {
  align-items: center;
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
}

header div.logo span {
  font-size: 1.7rem;
  font-weight: 700;
}

header div.logo #logo-icon {
  animation: rotate linear 20s infinite;
}

header nav {
  align-items: center;
  background-color: blue;
  display: flex;
  justify-content: space-around;
  width: 25%;
}

header nav a {
  background-color: aquamarine;
  text-decoration: none;
}

/* WELCOME */

div#welcome {
  min-height: 95vh;
  position: sticky;
  top: 0;
}

div#welcome,
div#welcome div.subtitle {
  align-items: center;
  display: flex;
  font-size: 2.5rem;
  flex-direction: column;
  justify-content: center;
}

div#welcome h2 #welcome-hand-icon:hover {
  transform: rotateZ(20deg);
  transition: linear .3s;
}

div#welcome h1 {
  font-family: var(--heading-font);
  font-size: 7.5rem;
}

div#welcome div.subtitle h2 span.subtitle-pill {
  border: solid;
  border-color: var(--black);
  border-radius: 40px;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: border-radius .5s ease;
}

div#welcome div.subtitle h2 span.subtitle-pill:hover {
  border-radius: 20px;
}

div#welcome div.subtitle h3 {
  margin-top: .5rem;
}

div#welcome div.subtitle h3 span.subtitle-sparkle:hover .sparkle {
  animation: rotate ease-in-out 1s;
}

/* ABOUT */

section#about {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section#about div {
  display: flex;
  justify-content: space-between;
  max-width: 60%;
}

section#about div div.about-description {
  display: flex;
  font-size: 1.4rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
}

section#about div img#portrait {
  height: 500px;
  border-radius: 100px;
  border: 10px dotted;
}

/* SKILLS */

/* PROJECTS */

/* FOOTER */

/* ANIMACION */

@keyframes rotate {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* 
OSCURO
#F9DB69
#717EFF
#F1A0FF

#242424
#1A1918
#EFFAFB

CLARO
#e7b018
#9eb5f5
#fad1f1

*/