* {
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: #EFFAFB;
}

/* HEADER */

header {
  background-color: red;
  display: flex;
  flex-direction: row;
  height: 5vh;
  justify-content: space-between;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  position: sticky;
  top: 0;
  z-index: 2;
}

header div.logo {
  align-items: center;
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
}

header div.logo span {
  font-size: 1.7rem;
  font-weight: 700;
}

header div.logo #logo-icon {
  animation: rotate linear 20s infinite;
}

header nav {
  align-items: center;
  background-color: blue;
  display: flex;
  justify-content: space-around;
  width: 25%;
}

header nav a {
  background-color: aquamarine;
  text-decoration: none;
}

/* WELCOME */

div#welcome {
  background-color: rgb(42, 165, 118);
  min-height: 95vh;
  position: sticky;
  top: 0;
}

div#welcome,
div#welcome div.subtitle {
  align-items: center;
  display: flex;
  font-size: 2.5rem;
  flex-direction: column;
  justify-content: center;
}

div#welcome h2 #welcome-hand-icon:hover {
  transform: rotateZ(20deg);
  transition: linear .3s;
}

div#welcome h1 {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 7.5rem;
}

div#welcome div.subtitle h2 span.subtitle-pill {
  border: solid;
  border-color: black;
  border-radius: 40px;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: border-radius .5s ease;
}

div#welcome div.subtitle h2 span.subtitle-pill:hover {
  border-radius: 20px;
}

div#welcome div.subtitle h3 {
  margin-top: .5rem;
}

div#welcome div.subtitle h3 span.subtitle-sparkle:hover .sparkle {
  animation: rotate ease-in-out 1s;
}

/* ABOUT */

section#about {
  background-color: blueviolet;
  position: sticky;
  top: 0;
}

div img#portrait {
  height: 400px;
}

/* SKILLS */

/* PROJECTS */

/* FOOTER */

/* ANIMACION */

@keyframes rotate {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* 
OSCURO
#F9DB69
#717EFF
#F1A0FF

#242424
#1A1918
#EFFAFB

CLARO
#e7b018
#9eb5f5
#fad1f1

*/